extends layout

block content
  h1= title
  p This just a simple implementation of chatting app which using socket.io
  p
    a(href="/chat") Go to Chatroom
  p
    a(href="/broadcast") Send broadcast to Chatroom
